@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_landing.scss";
@import "partials/_frogCard.scss";


.gryffindor {
    background-color: rgb(190, 152, 91);
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    border: 7px solid $gryff;
    border-radius: 2px;
    transition: .2s;
}

.gryffindor:hover,
.gryffindor:focus {
    background-color: $gryff;
}

.hufflepuff {
    background-color: rgb(190, 152, 91);
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    border: 7px solid $yellow;
    transition: .2s;
    border-radius: 2px;
}

.hufflepuff:hover,
.hufflepuff:focus {
    background-color: $yellow
}

.ravenclaw {
    background-color: rgb(190, 152, 91);
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    border: 7px solid $raven;
    transition: .2s;
    border-radius: 2px;
}

.ravenclaw:hover,
.ravenclaw:focus {
    background-color: $raven;
}

.slytherin {
    background-color: rgb(190, 152, 91);
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    border: 7px solid $green;
    transition: .2s;
    border-radius: 2px;
}

.slytherin:hover,
.slytherin:focus {
    background-color: $green;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: rgb(190, 152, 91);
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    font-family: $main-text;
    font-size: 1.6rem;
}

canvas {
    max-height: 400px;
    max-width: 800px;
    margin:0 auto;
    margin-bottom: 50px;
}

.hideButton {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.hideButton button {
    width:50px;
}
.mainBody {
    margin: 0 auto;
}

.characterBios {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

button {
    height: 55px;
    padding: 10px;
    width: 150px;
    border-radius: 3px;
    background-color: black;
    color: #eabc3f;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 1px rgb(36, 35, 35);
}

.buttons {
    margin:50px auto;
    width:400px;
}

.buttons p {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px;
}

.buttons :last-child {
    float:right;
}

.highlight {
    border: 2px solid #eabc3f;
}
.houseTabs {
    width: 100%;
    height:100px;
    font-family: $heading;
    box-shadow: 0px 0px 30px 5px rgb(36, 35, 35);
}

.houseTabs div {
    width:25%;
    float:left;
    text-align: center;
    padding: 30px 0;
}

.houseTabs a {
    padding: 20px ;
    color:black;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

header h2 {
    margin-top:15px;
}

footer {
    clear: both;
    padding: 10px;
}

footer p {
    font-size: 1.2rem;
    text-shadow: none;
    color:black;
    line-height: 2;
    letter-spacing: 0.3px;
}

@media (max-width: 1325px) {
.characterBios {
    width: 90%;
}
}

@media (max-width: 1180px) {
    .characterBios {
        width: 100%;
    }
}

@media (max-width: 1060px) {
    .characterBios {
        width: 80%;
    }
    .characterBio {
        width:50%;
    }
}

@media (max-width: 1000px) {
.characterBios {
    width:80%;
}

.houseTabs {
    height: 200px;
}

.houseTabs div {
    width: 50%;
}
.houseTabs a {
    padding: 20px 50px;
}
}

@media (max-width: 890px) {
    .characterBios {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .characterBios {
        width: 100%;
    }
}

@media (max-width: 715px) {
    .characterBios {
        width: 60%;
    }
    .characterBio {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .characterBios {
        width: 80%;
    }
    .houseTabs a {
        padding: 5px;
    }
}