@import "partials/_normalize.scss";
@import "partials/_variables.scss";
.gryffindor {
    background-color:$gryff;
}

.hufflepuff {
    background-color:$yellow;
}

.ravenclaw {
    background-color:$raven;
}

.slytherin {
    background-color: $green;
}

a {
    color:black;
    text-decoration:none;
}

body {
    background: #dadada;
}

canvas {
    max-height: 400px;
    max-width: 800px;
    margin:0 auto;
    margin-bottom: 50px;
}

.hideButton {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.characterBios {
    margin:0 auto;
    width:80%;
    height: 100%;
}

button {
    height: 50px;
    width:100px;
    background-color:black;
    color:white;
}

.buttons {
    margin:0 auto;
    width:300px;
    margin-bottom: 50px;
}
.buttons :last-child {
    float:right;
}

.characterBio {
    float:left;
    height: 440px;
    margin: 0 15px;
    position:relative;
    text-align:center;
    max-width: 350px;
}

.characterBio h2 {
    margin: 15px auto;
}
.frogCard {
    height: 300px;
    position:relative;
    z-index:2;
}
.portrait {
    position: absolute;
    z-index: 1;
    height: 170px;
    left: 28%;
    top: 22%;
}

.characterInfo {
    position: absolute;
    z-index:4;
    top:30%;
    width:320px;
}

.characterInfo h6 {
     color: $tan;
}

.houseTabs {
width: 100%;
height:100px;
}

.houseTabs div {
    width:25%;
    float:left;
    text-align: center;
    padding: 20px 0;
}

.houseTabs a {
    padding: 20px 100px;
}

header h2 {
    margin-top:15px;
}
@media (max-width: 1325px) {
.characterBios {
    width: 90%;
}
}

@media (max-width: 1180px) {
    .characterBios {
        width: 100%;
    }
}

@media (max-width: 1060px) {
    .characterBios {
        width: 80%;
    }
}

@media (max-width: 1000px) {
.characterBios {
    width:80%;
}

.houseTabs {
    height: 150px;
}

.houseTabs div {
    width: 50%;
}
.houseTabs a {
    padding: 20px 50px;
}
}

@media (max-width: 890px) {
.characterBios {
    width: 90%;
}
}

@media (max-width: 800px) {
    .characterBios {
        width: 100%;
    }
}

@media (max-width: 715px) {
    .characterBios {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .characterBios {
        width: 80%;
    }
}