.main {
    position: relative;
}

.landing {
    font-family: $heading;
    height:50vh;
    width:50%;
    float:left;
    text-align: center;
    background-size:cover;
    background-position: center;
}

p {
    margin-top:20%;
    font-size: 2.5rem;
    // text-shadow: 1px 1px 1px #8d8d8d;
    color:#dadada;
}

p.tagline {
    margin:0;
    font-size: 2rem;
    color: #dadada;
}

.instructions {
    font-size: 2rem;
    position: absolute;
    top:20%;
    left:40%;
}

.gryffindor-landing {
    background-image: 
        linear-gradient(rgba(155, 10, 24, 0.4), rgba(155, 10, 24, 0.4)),
        url(../../lion.jpg);
}

.hufflepuff-landing {
    background-image: 
        linear-gradient(rgba(252, 192, 56, 0.4), rgba(252, 192, 56, 0.4)),
        url(../../badger.jpg);
}

.ravenclaw-landing {
    background-image: 
        linear-gradient(rgba(45, 66, 142, 0.4), rgba(45, 66, 142, 0.4)),
        url(../../raven.jpg);
}

.slytherin-landing {
    background-image: 
        linear-gradient(rgba(16, 107, 79, 0.4), rgba(16, 107, 79, 0.4)),
        url(../../serpent.jpeg);
}