
.landing {
    font-family: $heading;
    height:50vh;
    width:50%;
    float:left;
    text-align: center;
    background-size:cover;
    background-position: center;
}

p.tagline {
    margin:0;
    font-size: 2rem;
    font-family: $main-text;
    letter-spacing: 1px;
}

.instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -39%);
    z-index: 99;
    font-family: $heading;
    background-image: url(../../banner-solid.png);
    background-position: center;
    background-repeat: no-repeat;
    height:50%;
    width:100%;
    font-size: 2rem;
    position: absolute;
    h1 {
        transform: translate(0, 180%);

    }
}

.words {
    padding:10px;
    margin-top:20%;
    margin-left: 25%;
    box-shadow: 0px 0px 15px 1px black;
    width:50%;
    color:#dadada;
    font-size: 2.5rem;
    border-radius: 2px;
    &:hover {
        box-shadow:0px 0px 30px 1px black;
    }
}

.words p {
    color: #dadada;
}


.gryffindor-landing {
    background-image: 
        linear-gradient(rgba(155, 10, 24, 0.75), rgba(155, 10, 24, 0.75)),
        url(../../lion.jpg);
        .words {
            background-color:$gryff;
            &:hover, &:focus {
                background-color: darken($gryff, 10);
            }
        }
}

.hufflepuff-landing {
    background-image: 
        linear-gradient(rgba(252, 192, 56, 0.75), rgba(252, 192, 56, 0.75)),
        url(../../badger.jpg);
        .words {
            background-color:$yellow;
            &:hover, &:focus {
                background-color: darken($yellow, 10);
            }
        }
}

.ravenclaw-landing {
    background-image: 
        linear-gradient(rgba(45, 66, 142, 0.75), rgba(45, 66, 142, 0.75)),
        url(../../raven.jpg);
        .words {
            background-color: $raven;
            &:hover, &:focus {
                background-color: darken($raven, 10);
            }
        }
}

.slytherin-landing {
    background-image: 
        linear-gradient(rgba(16, 107, 79, 0.75), rgba(16, 107, 79, 0.75)),
        url(../../serpent.jpeg);
        .words {
            background-color: $green;
            &:hover,  &:focus {
                background-color: darken($green, 10);
            }
        }
}

@media (max-width:1130px) {
    .landing {
        width:100%;
        min-height:80vh;
    }

    .instructions {
        top:90px;
        h1 {
        transform: translate(0, 100px);

    }
    }
}