
.landing {
    font-family: $heading;
    height:50vh;
    width:50%;
    float:left;
    text-align: center;
    background-size:cover;
    background-position: center;
}

p.tagline {
    margin:0;
    font-size: 2rem;
    font-family: $main-text;
    letter-spacing: 1px;
}

.instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -28%);
    z-index: 99;
    font-family: $heading;
    background-image: url(../.././assets/banner-solid.png);
    background-position: center;
    background-repeat: no-repeat;
    height:30%;
    width:100%;
    font-size: 2rem;
    position: absolute;
    h1 {
        transform: translate(0, 55%);

    }
}

.words {
    padding:10px;
    margin-top:20%;
    margin-left: 25%;
    box-shadow: 0px 0px 15px 1px black;
    width:50%;
    font-size: 2.5rem;
    border-radius: 2px;
    &:hover {
        box-shadow:0px 0px 30px 1px black;
    }
}

.words p {
    color: black;
}


.gryffindor-landing {
    background-image: 
        linear-gradient(rgba(155, 10, 24, 0.75), rgba(155, 10, 24, 0.75)),
        url(../.././assets/lion.jpg);
        .words {
            background-color: rgb(190, 152, 91);
            background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
            border: 7px solid $gryff;
        }
}

.hufflepuff-landing {
    background-image: 
        linear-gradient(rgba(252, 192, 56, 0.75), rgba(252, 192, 56, 0.75)),
        url(../.././assets/badger.jpg);
        .words {
            background-color: rgb(190, 152, 91);
            background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
            border: 7px solid $yellow;
        }
}

.ravenclaw-landing {
    background-image: 
        linear-gradient(rgba(45, 66, 142, 0.75), rgba(45, 66, 142, 0.75)),
        url(../.././assets/raven.jpg);
        .words {
            background-color: rgb(190, 152, 91);
            background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
            border: 7px solid $raven;
        }
}

.slytherin-landing {
    background-image: 
        linear-gradient(rgba(16, 107, 79, 0.75), rgba(16, 107, 79, 0.75)),
        url(../.././assets/serpent.jpeg);
        .words {
            background-color: rgb(190, 152, 91);
            background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
            border: 7px solid $green;
        }
}

@media (max-width:1130px) {
    .landing {
        width:100%;
        min-height:80vh;
    }

    .instructions {
        top:90px;
        h1 {
        transform: translate(0, 30px);

    }
    }
}