// colours

$red: #853538;
$gryff: #9b0a18;
$yellow: #fcc038;
$green: #106b4f;
$blue: #38474e;
$raven: #2d428e;
$tan: #b4aa8b;
//white is the fourth colour (#ffffff)

// fonts

$heading: 'Playfair Display', serif;
$main-text: 'Open Sans', sans-serif;
    

    

